---
import Button from "@/components/button.astro";
import { siteConfig } from "@/lib/config/site";
import Layout from "@/pages/_layout.astro";

import CheckmarkIcon from "@/assets/icons/checkmark.svg";
import ChevronRight from "@/assets/icons/chevron-right.svg";
import ContactForm from "@/components/contact-form.astro";
---

<Layout>
  <div class='space-y-12 overflow-x-hidden lg:space-y-20'>
    <article class='font-sans md:pt-12'>
      <div class='mx-auto flex w-fit flex-col md:mx-24 md:flex-row md:gap-4'>
        <div class='mx-4 grow space-y-5 md:mx-0 md:grow-0 md:basis-3/5 md:space-y-10'>
          <h1 class='my-6 text-[2rem] font-semibold leading-none tracking-tighter text-neutral-700 md:text-[4rem]'>
            <span>Trauma-Informed</span>
            <span class='block bg-gradient-to-r from-accent to-red-400 bg-clip-text text-transparent md:whitespace-nowrap'>Attachment-Focused</span>
            <span>Therapy for all ages</span>
          </h1>
          <span class='block max-w-[36ch] text-lg leading-relaxed tracking-tight text-primary md:text-2xl'>
            Equipping families to <strong>strengthen their bond</strong> and <strong>resolves issues</strong> that prevent full participation in meaningful relationships and major life functions.
          </span>
          <div class='flex flex-col items-start gap-4 md:mt-6 md:flex-row'>
            <a class='w-2/3 md:w-auto' href='/services'>
              <Button variant={"outline"} class='peer w-full border-accent py-3 hover:bg-accent/80 md:p-6 md:text-lg'> View our Services </Button>
            </a>
            <a class='w-2/3 md:w-auto' href={siteConfig.links.evaluationAppt}>
              <Button variant={"secondary"} class='peer w-full border border-primary/20 py-3 brightness-95 hover:brightness-100 md:p-6 md:text-lg'> Request an Evaluation </Button>
              <span class='hidden pt-2 text-center text-xs text-primary/50 opacity-0 duration-200 peer-hover:opacity-100 md:block'>Psych evaluation appointment</span>
            </a>
          </div>
        </div>
        <div class='row-start-1 hidden w-fit items-center py-5 md:px-10 lg:flex'>
          <img src={"/images/laughing-kids.jpg"} alt='MKC-services - Children' class='rounded-lg shadow drop-shadow-2xl' />
        </div>
      </div>

      <div id='stripe' class='/shadow-lg mt-12 bg-accent/70 py-4'>
        <h1 class='text-center text-3xl font-semibold text-primary md:text-6xl lg:ml-24 lg:text-start'>Meet the Clinician</h1>
      </div>
    </article>

    <article class='relative max-h-fit md:mx-24'>
      <div class='mb-10 flex flex-col md:flex-row md:gap-12'>
        <div class='md:mx-none mx-auto grid max-w-fit flex-col gap-2 md:flex'>
          <img src={"/images/marcia.png"} alt='Marcia Kennedy' class='mx-auto w-52 md:w-72' />
          <span class='mb-4 text-center text-2xl'>Marcia Kennedy</span>
          <ul class='grid w-full gap-2 pl-10 text-xs md:pl-14 md:text-start md:text-base'>
            <li class='flex items-center gap-4 md:whitespace-nowrap'>
              <img src={CheckmarkIcon.src} class='min-w-5 -ml-6 text-green-700' />
              <span class='block grow'>Licensed Specialist Clinical Social Worker</span>
            </li>
            <li class='flex items-center gap-4 md:whitespace-nowrap'>
              <img src={CheckmarkIcon.src} class='min-w-5 -ml-6 text-green-700' />
              <span class='block grow'>Licensed Clinical Psychotherapist</span>
            </li>
            <li class='flex items-center gap-4 md:whitespace-nowrap'>
              <img src={CheckmarkIcon.src} class='min-w-5 -ml-6 text-green-700' />
              <span class='block grow'>Training in Adoption Competency</span>
            </li>
            <li class='flex items-center gap-4 md:whitespace-nowrap'>
              <img src={CheckmarkIcon.src} class='min-w-5 -ml-6 text-green-700' />
              <span class='block grow'>25+ years working with &quot;children from hard places&quot;</span>
            </li>
          </ul>

          <Button variant={"outline"} size={"lg"} class='mx-auto mt-2 max-w-fit border border-border/25 bg-secondary text-xs md:border-secondary md:bg-background md:text-base md:hover:bg-secondary'>
            <a href={"https://mkc-services.com/client-downloads/expertise-kennedy.pdf"}>View full expertise</a>
          </Button>
        </div>
        <div class='hidden max-w-[60ch] items-center space-y-6 text-xl leading-normal tracking-tight text-primary/90 lg:grid'>
          <p class='text-black'>I am a seasoned Licensed Specialist Clinical Social Worker and Licensed Clinical Psychotherapist with extensive expertise in various areas. With over 25 years of experience, I have worked extensively in domestic infant adoption, international adoption, and adoption through foster care.</p>
          <div class='space-y-6'>
            <p>
              <span class='mb-2 block text-2xl font-semibold text-black'>Methodology and Passion</span>
              My approach to therapy is trauma-informed and attachment-focused, and I am dedicated to providing assessment, treatment, and psychological testing counseling to individuals and families of all ages. My passion lies in strengthening relationships and addressing obstacles that impede meaningful connections and major life functions.
            </p>
            <p>
              <span class='mb-2 block text-2xl font-semibold text-black'>Other specialties</span>I specialize in supporting attachment, facilitating healing from trauma and loss, and ensuring the safety and happiness of adoptive and foster families. Additionally, I offer adult attachment-focused therapy to help individuals navigate and enhance their interpersonal bonds.
            </p>
          </div>
        </div>
      </div>

      <div class='flex flex-wrap justify-center gap-10 md:mx-24 md:gap-14'>
        <img src={"/images/logos/masgutova-logo.png"} alt='Masgutova Method logo' class='md:min-w-16 h-12 w-fit' />
        <img src={"/images/logos/SomaticExperiencing-logo.png"} alt='Somatic Experiencing logo' class='md:min-w-16 h-12 w-fit' />
        <img src={"/images/logos/TAC-logo.png"} alt='MKC-counseling TAC - Training for Adoption Competency' class='md:min-w-16 h-12 w-fit' />
        <img src={"/images/logos/TBRI_logo.png"} alt='MKC-counseling TBRI Practitioner' class='md:min-w-16 h-12 w-fit' />
        <img src={"/images/logos/Theraplay-logo.png"} alt='MKC-counseling Theraplay' class='md:min-w-16 h-12 w-fit' />
        <img src={"/images/logos/CASE-logo.png"} alt='MKC-counseling C.A.S.E. - Center for Adoption Support and Education' class='md:min-w-16 h-12 w-fit' />
      </div>
    </article>

    <article class='flex flex-col-reverse gap-6 px-8 md:flex-row md:p-8 lg:px-24 xl:gap-16'>
      <div class='grid h-fit flex-auto grid-cols-2 gap-4'>
        <div class='grid justify-center gap-2 rounded-lg border border-neutral-100 bg-background p-4 shadow'>
          <img src='/images/therapy-icon.png' alt='hand holding a heart - Icons8' class='mx-auto w-24' />
          <h3 class='block text-center text-xs font-semibold md:text-lg'>Counseling</h3>
          <p class='hidden h-16 text-center text-sm md:block'>Address trauma and self-regulation challenges through expert attachment-focused therapy.</p>
        </div>
        <div class='grid justify-center gap-2 rounded-lg border border-neutral-100 bg-background p-4 shadow'>
          <img src='/images/adoption-icon.png' alt='multi-ethnic family - Icons8' class='mx-auto w-24' />
          <h3 class='block text-center text-xs font-semibold md:text-lg'>Adoption</h3>
          <p class='hidden h-16 text-center text-sm md:block'>Comprehensive home studies and support for Kansas adoptive families, ensuring a loving environment.</p>
        </div>
        <div class='grid justify-center gap-2 rounded-lg border border-neutral-100 bg-background p-4 shadow'>
          <img src='/images/psych-assess-icon.png' alt='brain - Icons8' class='mx-auto w-24' />
          <h3 class='block text-center text-xs font-semibold md:text-lg'>Psychological Assessment</h3>
          <p class='hidden h-16 text-center text-sm md:block'>Precise evaluations uncovering dyslexia, learning issues, clinical insights, and attachment concerns.</p>
        </div>
        <div class='grid justify-center gap-2 rounded-lg border border-neutral-100 bg-background p-4 shadow'>
          <img src='/images/aroma-icon.png' alt='aroma - Icons8' class='mx-auto w-24' />
          <h3 class='block text-center text-xs font-semibold md:text-lg'>Somatic Therapy</h3>
          <p class='hidden h-16 text-center text-sm md:block'>Holistic healing for the body and mind, fostering relaxation and well-being.</p>
        </div>
      </div>
      <div class='h-full w-4/5 space-y-4 md:w-full lg:basis-4/5 lg:pr-8'>
        <h2 class='text-2xl font-semibold md:text-3xl lg:text-4xl'>Let us support your family&apos;s diverse needs and challenges</h2>
        <p class='hidden leading-loose text-primary/70 md:block lg:text-[1.125rem]'>Our range of specialized services encompass counseling, adoption support, psychological assessments, holistic wellness therapies, and more.</p>
        <p class='text-sm leading-loose text-primary/70 md:hidden'>Join us in embracing healing, growth, and deeper family connection.</p>
        <div class='md:pt-4'>
          <a href={"/services"}>
            <Button variant={"ghost"} class='inline-flex items-center gap-2 rounded-md border border-accent/40 text-xs'>
              <span>Explore our services</span>
              <img src={ChevronRight.src} class='w-4 md:w-5' />
            </Button>
          </a>
        </div>
      </div>
    </article>

    <article class='grid gap-12 pb-14 md:flex'>
      <div class='space-y-6 px-8 sm:my-auto sm:ml-24 sm:px-16'>
        <h1 class='text-3xl font-semibold md:text-[2.5rem]'>Contact us</h1>
        <ContactForm id='contact-form' class='font-sans' />
      </div>

      <div id='stripe' class='z-10 row-start-1 h-full bg-secondary bg-opacity-60 px-8 py-12 shadow md:rounded-l-xl md:px-10'>
        <img src={"/images/kids-with-blocks.jpg"} alt='kids with blocks' class='rounded-lg shadow drop-shadow-2xl' />
      </div>
    </article>
    <span class='absolute bottom-1.5 right-2 text-sm text-neutral-600 sm:right-16'>Icon images by Icon8</span>
  </div>
</Layout>
@/lib/config/site
