---
import { siteConfig } from "@/config/site";
import { cn } from "@/lib/utils";
import FacebookIcon from "lucide-static/icons/facebook";
import LinkedInIcon from "lucide-static/icons/linkedin";
import { NavigationMenu, NavigationMenuItem, NavigationMenuLink, NavigationMenuList, navigationMenuTriggerStyle } from "./ui/navigation-menu";

type Props = {
  class?: string;
};

const socialLinks = siteConfig.links.social;
const navLinks = siteConfig.mainNav;
const path = Astro.url.pathname
---

<div
  class={cn(
    "inset-x-0 top-0 z-20 flex h-full max-h-[--navbar-height] items-center justify-around gap-4 border-b border-b-primary/10 bg-background px-3 py-1",
    Astro.props.class,
    path === "/evaluation-form" ? "" : "sticky",
  )}>
  <a href='/' class='mr-auto hidden sm:block'>
    <img src='/images/logo.png' alt='mkc services company logo' class='h-[var(--navbar-height)]' />
  </a>
  <NavigationMenu client:on-load>
    <NavigationMenuList class='gap-6 text-lg'>
      {navLinks.map((link) => (
        <NavigationMenuItem key={link.href}>
          <a href={link.href}>
            <NavigationMenuLink class={(navigationMenuTriggerStyle(), path === link.href ? "border-b-2 border-b-accent text-accent" : "")}>{link.title}</NavigationMenuLink>
          </a>
        </NavigationMenuItem>
      ))}
    </NavigationMenuList>
  </NavigationMenu>
  <div class='h-2/5 w-[1px] bg-primary/30' />
  <span class='flex'>
    <a href={socialLinks.linkedIn} class='py-1.5'>
      <LinkedInIcon class='w-10 fill-primary/80 font-extralight text-transparent hover:fill-black' />
    </a>
    <a href={socialLinks.facebook} class='py-1.5'>
      <FacebookIcon class='w-10 fill-primary/80 font-extralight text-transparent hover:fill-black' />
    </a>
  </span>
</div>
